* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: -webkit-gradient(linear, right top, left top, color-stop(93%, rgba(0, 0, 0, 0)), color-stop(93%, #FFFFFF)), -webkit-gradient(linear, right top, left top, from(#FADA53), to(#FFFAE3));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 93%, #FFFFFF 93%), linear-gradient(270deg, #FADA53 0%, #FFFAE3 100%);
}

@media (min-width: 1300px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, #FFFFFF)), -webkit-gradient(linear, right top, left top, from(#FADA53), to(#FFFAE3));
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 90%, #FFFFFF 90%), linear-gradient(270deg, #FADA53 0%, #FFFAE3 100%);
  }
}

@media (min-width: 1450px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, #FFFFFF)), -webkit-gradient(linear, right top, left top, from(#FADA53), to(#FFFAE3));
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 80%, #FFFFFF 80%), linear-gradient(270deg, #FADA53 0%, #FFFAE3 100%);
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background-image: url("./img/header-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 480px) {
  .header > .container {
    background-position: left;
  }
}

.header .header__logo {
  width: 225px;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("./img/whitelogobg.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.header .header__logo img {
  width: 67%;
}

.header .header__menu-line {
  background-color: #C4C4C4;
  position: relative;
}

.header .header__menu-line::after {
  content: '';
  display: block;
  height: 6px;
  background-color: #F9D332;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .header__nav .header__nav-item {
  width: 25%;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 12px 10px;
  font-weight: 600;
  position: static;
}

.header .header__nav .header__nav-item:hover {
  background-color: #F9D332;
}

.header .header__nav .header__nav-item:first-child:hover::before {
  content: '';
  position: absolute;
  background-color: #F9D332;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1;
}

@media (max-width: 768px) {
  .header .header__nav .header__nav-item:first-child:hover::before {
    display: none;
  }
}

.header .header__nav .header__nav-item:last-child:hover::after {
  content: '';
  position: absolute;
  background-color: #F9D332;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  z-index: 1;
}

@media (max-width: 768px) {
  .header .header__nav .header__nav-item:last-child:hover::after {
    display: none;
  }
}

.header .header__nav .header__nav-item .header__nav-text {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .header .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__nav .header__nav-item {
    width: 100%;
  }
}

.miPression {
  background-color: white;
  padding: 16px 30px;
  border-radius: 50px;
  margin-left: auto;
}

.miPression img {
  width: 100%;
}

@media (max-width: 480px) {
  .miPression {
    margin-left: 20px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title1 {
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 0;
}

.title2 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 7px;
}

.title3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.team {
  background-image: -webkit-gradient(linear, right top, left top, from(#FADA53), to(#FFFAE3));
  background-image: linear-gradient(270deg, #FADA53 0%, #FFFAE3 100%);
}

.project__actual-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.project__actual-wrapper .project__item {
  width: 48%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__actual-wrapper .project__item:nth-child(odd) {
  margin-right: 2%;
}

.project__actual-wrapper .project__item:nth-child(even) {
  margin-left: 2%;
}

@media (max-width: 480px) {
  .project__actual-wrapper .project__item {
    width: 100%;
  }
  .project__actual-wrapper .project__item:nth-child(odd) {
    margin-right: 0;
  }
  .project__actual-wrapper .project__item:nth-child(even) {
    margin-left: 0;
  }
}

.project__actual-wrapper svg {
  width: 80px;
  margin-right: 4%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.project__actual-wrapper svg:hover {
  fill: #F9D332;
}

.highlight {
  font-size: 1.5rem;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

@media (max-width: 768px) {
  .highlight {
    width: 100%;
  }
}

.team__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider__arrow {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  max-width: 50px;
}

.slider__arrow#slider-left {
  left: -60px;
}

@media (max-width: 480px) {
  .slider__arrow#slider-left {
    left: -15px;
  }
}

.slider__arrow#slider-right {
  right: -60px;
}

@media (max-width: 480px) {
  .slider__arrow#slider-right {
    right: -15px;
  }
}

.slider__arrow img {
  width: 100%;
}

.team__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 480px) {
  .team__items-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  width: 25%;
}

@media (max-width: 1024px) {
  .team__item {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .team__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .team__item {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.team__item .team__portrait {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team__item .team__name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.team__item .team__info {
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.sponsors__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors__items-wrapper .sponsors__item {
  margin: 0 3% 6%;
}

.sponsors__items-wrapper .sponsors__logo {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sponsors::before {
  content: '';
  display: block;
  height: 6px;
  background-color: #F9D332;
  margin-top: -50px;
  margin-bottom: 50px;
}

.social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .social .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social .container .title2 {
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .social .container .title2 {
    margin-right: auto;
  }
}

.social .container .social__item {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}

.social .container .social__item:last-child {
  margin-right: auto;
}

@media (max-width: 480px) {
  .social .container .social__item:last-child {
    margin-right: 10px;
  }
}

.social .container .social__item img {
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.social .container .social__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 768px) {
  .social .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FADA53), to(#FFFAE3));
  background-image: linear-gradient(270deg, #FADA53 0%, #FFFAE3 100%);
}
/*# sourceMappingURL=style.css.map */