* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, color-stop(93%, rgba(0, 0, 0, 0)), color-stop(93%, #FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(#989282), to(#F9D237));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 93%, #FFFFFF 93%), linear-gradient(180deg, #989282 0%, #F9D237 100%);
}

@media (min-width: 1300px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, #FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(#989282), to(#F9D237));
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 90%, #FFFFFF 90%), linear-gradient(180deg, #989282 0%, #F9D237 100%);
  }
}

@media (min-width: 1450px) {
  .header {
    background: -webkit-gradient(linear, right top, left top, color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, #FFFFFF)), -webkit-gradient(linear, left top, left bottom, from(#989282), to(#F9D237));
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 80%, #FFFFFF 80%), linear-gradient(180deg, #989282 0%, #F9D237 100%);
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background-image: url("./img/header-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 480px) {
  .header > .container {
    background-position: left;
  }
}

.header .header__logo {
  width: 225px;
  margin-top: -30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("./img/whitelogobg.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: 3;
}

.header .header__logo img {
  width: 67%;
}

.header::after {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%);
  position: absolute;
}

.header__menu-line {
  background-color: #F9D332;
  position: relative;
  margin-top: 5px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.header__nav .header__nav-item {
  width: 25%;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 12px 10px;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.header__nav .header__nav-item:hover {
  background-color: #fce895;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav .header__nav-item .header__nav-text {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav .header__nav-item {
    width: 100%;
  }
}

.miPression {
  background-color: white;
  padding: 16px 30px;
  border-radius: 50px;
  margin-left: auto;
  z-index: 3;
}

.miPression img {
  width: 100%;
}

@media (max-width: 480px) {
  .miPression {
    margin-left: 20px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.title1 {
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1;
  position: relative;
}

@media (max-width: 480px) {
  .title1 {
    font-size: 2.5rem;
  }
}

#what-detect .title1 .rotate {
  font-size: 18rem;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(90deg) translate(-1rem, 22rem);
          transform: rotate(90deg) translate(-1rem, 22rem);
}

@media (max-width: 480px) {
  #what-detect .title1 .rotate {
    font-size: 16rem;
    -webkit-transform: rotate(90deg) translate(-35px, -92px);
            transform: rotate(90deg) translate(-35px, -92px);
  }
}

#about .title1 .rotate {
  font-size: 18rem;
  -webkit-transform: translate(89px, -80px);
          transform: translate(89px, -80px);
  z-index: 0;
}

@media (max-width: 480px) {
  #about .title1 .rotate {
    font-size: 12rem;
    -webkit-transform: translate(57px, -48px);
            transform: translate(57px, -48px);
  }
}

.title1 .yellow {
  color: #F9D332;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title1 .rotate {
  position: absolute;
  display: inline-block;
  line-height: 0;
  color: #F9D332;
}

.title1 .text-above {
  position: relative;
  z-index: 2;
}

.title2 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 7px;
}

.title3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.scheme {
  margin-top: 40px;
}

.scheme__lines-bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, white)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F9D332), color-stop(50%, #fff));
  background: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(#F9D332 50%, #fff 50%);
  height: 135px;
  background-size: cover, 10px 10px;
  margin-top: 30px;
  position: relative;
}

.scheme__lines-bg .container {
  background: linear-gradient(90deg, transparent 100px, white 100px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheme__lines-bg .container.indented {
  padding-left: 190px;
  background: linear-gradient(90deg, transparent 260px, white 260px);
}

@media (max-width: 768px) {
  .scheme__lines-bg .container {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, white));
    background: linear-gradient(90deg, transparent 50%, white 50%);
  }
  .scheme__lines-bg .container.indented {
    padding-left: 20px;
  }
}

.scheme__lines-bg .scheme__image {
  height: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 30px;
}

@media (max-width: 768px) {
  .scheme__lines-bg .scheme__image {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .scheme__description {
    display: none;
  }
}

.scheme__description-mobile {
  display: none;
}

@media (max-width: 768px) {
  .scheme__description-mobile {
    display: block;
  }
}

.scheme__arrows {
  position: absolute;
  z-index: 2;
  width: 100%;
}

@media (max-width: 768px) {
  .scheme__arrows {
    display: none;
  }
}

.scheme-arrow {
  width: 63px;
  margin-left: 110px;
}

.scheme-arrow:nth-child(1) {
  margin-top: 130px;
}

.scheme-arrow:nth-child(2) {
  margin-top: 64px;
  margin-left: 105px;
}

.scheme-arrow:nth-child(3) {
  margin-top: 119px;
}

.scheme-arrow.scheme-arrow-rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scheme-arrow img {
  width: 100%;
}

.project__actual-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.project__actual-wrapper .project__item {
  width: 48%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__actual-wrapper .project__item:nth-child(odd) {
  margin-right: 2%;
}

.project__actual-wrapper .project__item:nth-child(even) {
  margin-left: 2%;
}

@media (max-width: 480px) {
  .project__actual-wrapper .project__item {
    width: 100%;
  }
  .project__actual-wrapper .project__item:nth-child(odd) {
    margin-right: 0;
  }
  .project__actual-wrapper .project__item:nth-child(even) {
    margin-left: 0;
  }
}

.project__icon {
  height: 80px;
  width: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 4%;
  background-color: #F9D332;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center center;
}

.highlight {
  font-size: 1.5rem;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  background-color: #F9D332;
  padding: 15px;
  border-radius: 60px;
}

@media (max-width: 768px) {
  .highlight {
    width: 100%;
  }
}

.team__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider__arrow {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  max-width: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider__arrow#slider-left {
  left: -60px;
}

@media (max-width: 480px) {
  .slider__arrow#slider-left {
    left: -15px;
  }
}

.slider__arrow#slider-right {
  right: -60px;
}

@media (max-width: 480px) {
  .slider__arrow#slider-right {
    right: -15px;
  }
}

.slider__arrow img {
  width: 100%;
}

.team__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 480px) {
  .team__items-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  width: 25%;
}

@media (max-width: 1024px) {
  .team__item {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .team__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .team__item {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.team__item .team__portrait {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team__item .team__name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.team__item .team__info {
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.sponsors__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors__items-wrapper .sponsors__item {
  margin: 0 3% 6%;
}

.sponsors__items-wrapper .sponsors__logo {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#sponsors {
  padding-bottom: 0;
}

.social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .social .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social .container .title2 {
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .social .container .title2 {
    margin-right: auto;
  }
}

.social .container .social__item {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}

.social .container .social__item:last-child {
  margin-right: auto;
}

@media (max-width: 480px) {
  .social .container .social__item:last-child {
    margin-right: 10px;
  }
}

.social .container .social__item img {
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.social .container .social__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 768px) {
  .social .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button {
  background-color: white;
  border: #F9D332 6px solid;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.button#scroll-to-top {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
  margin-bottom: 40px;
  background-size: 50%;
  background-image: url(./img/top.svg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button#scroll-to-top:hover {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fce68b;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
}

.footer a {
  color: inherit;
}

.yellow-bg {
  background-image: url(./img/yellow-bg.png);
  background-repeat: no-repeat;
  background-position: right -415px bottom 16%;
}
/*# sourceMappingURL=style.css.map */