@mixin phone {
  @media (max-width: 480px) { @content; }
}
@mixin tablet-portrait {
  @media (max-width: 768px) { @content; }
}
@mixin tablet-landscape {
  @media (max-width: 1024px) { @content; }
}
@mixin desktop {
  @media (max-width: 1199px) { @content; }
}
@mixin big-desktop {
  @media (min-width: 1200px) { @content; }
}

$black: #000;
$yellow: #F9D332;
$grey: #C4C4C4;
$dark-grey: #2d2d2d;

@mixin OpenSans {font-family: 'Open Sans', sans-serif;}
@mixin Raleway {font-family: 'Raleway', sans-serif;}
@mixin yellow-line {
  display: block;
  height: 6px;
  background-color: $yellow;
}
@mixin menu-white-borders {
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}
@mixin shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

$yellow-gradient-bg: linear-gradient(180deg, #989282 0%, #F9D237 100%);

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  @include OpenSans;
}

p {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 93%, #FFFFFF 93%), $yellow-gradient-bg;

  @media (min-width:1300px) {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 90%, #FFFFFF 90%), $yellow-gradient-bg;
  }

  @media (min-width:1450px) {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 80%, #FFFFFF 80%), $yellow-gradient-bg;
  }

  & > .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 30px;
    background-image: url('./img/header-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include phone {
      background-position: left;
    }
  }

  .header__logo {
    width: 225px;
    margin-top: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('./img/whitelogobg.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 3;

    img {
      width: 67%;
    }
  }

  &::after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
  }

}

.header__menu-line {
  background-color: $yellow;
  position: relative;
  margin-top: 5px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  @include menu-white-borders;

  .header__nav-item {
    width: 25%;
    color: $black;
    text-decoration: none;
    text-align: center;
    padding: 12px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
    @include menu-white-borders;

    &:hover {
      background-color: lighten($yellow, 20%);
      transition: 0.3s;
    }

    .header__nav-text {
      position: relative;
      z-index: 2;
    }
  }

  @include tablet-portrait {
    flex-direction: column;

    .header__nav-item {
      width: 100%;
    }
  }
}

.miPression {
  background-color: white;
  padding: 16px 30px;
  border-radius: 50px;
  margin-left: auto;
  z-index: 3;
  img {
    width: 100%;
  }

  @include phone {
    margin-left: 20px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.title1 {
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1;
  position: relative;
  @include phone {
    font-size: 2.5rem;
  }

  #what-detect & {
    .rotate {
      font-size: 18rem;
      transform-origin: 100% 100%;
      transform: rotate(90deg) translate(-1rem, 22rem);

      @include phone {
        font-size: 16rem;
        transform: rotate(90deg) translate(-35px, -92px);
      }
    }
  }

  #about & {
    .rotate {
      font-size: 18rem;
      transform: translate(89px, -80px);
      z-index: 0;

      @include phone {
        font-size: 12rem;
        transform: translate(57px, -48px);
      }
    }
  }

  .yellow {
    color: $yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .rotate {
    position: absolute;
    display: inline-block;
    line-height: 0;
    color: $yellow;
  }

  .text-above {
    position: relative;
    z-index: 2;
  }

}

.title2 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 7px;

  #about & {
    text-align: center;
    margin-top: 2rem;
  }
}

.title3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.scheme {
  margin-top: 40px;
  // margin-bottom: 70px;
}

.scheme__lines-bg {
  background: linear-gradient(90deg, transparent 50%, white 50%), 
    linear-gradient(#F9D332 50%, #fff 50%); 
  height: 135px; 
  background-size: cover, 10px 10px;
  margin-top: 30px;
  position: relative;

  .container {
    background: linear-gradient(90deg, transparent 100px, white 100px); 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.indented {
      padding-left: 190px;
      background: linear-gradient(90deg, transparent 260px, white 260px); 
    }

    @include tablet-portrait{
      &.indented {
        padding-left: 20px;
      }
      background: linear-gradient(90deg, transparent 50%, white 50%); 
    }
  }

  .scheme__image {
    height: 100%;
    @include shadow;
    margin-right: 30px;

    @include tablet-portrait {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.scheme__description {
  @include tablet-portrait{
    display: none;
  }
}

.scheme__description-mobile {
  display: none;

  @include tablet-portrait{
    display: block;
  }
}

.scheme__arrows {
  position: absolute;
  z-index: 2;
  width: 100%;
  @include tablet-portrait {
    display: none;
  }
}

.scheme-arrow {
  width: 63px;
  margin-left: 110px;

  &:nth-child(1) {
    margin-top: 130px;
  }

  &:nth-child(2) {
    margin-top: 64px;
    margin-left: 105px;
  }

  &:nth-child(3) {
    margin-top:119px;
  }

  &.scheme-arrow-rotate {
    transform: rotate(90deg);
  }

  img {
    width: 100%;
  }

}

.project__actual-wrapper {
  display: flex;
  flex-flow: row wrap;

    .project__item {
      width: 48%;
      font-size: 1.2rem;
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 20px;
      align-items: center;

      &:nth-child(odd) {
        margin-right: 2%;
      }

      &:nth-child(even) {
        margin-left: 2%;
      }

      @include phone {
        width: 100%;

        &:nth-child(odd) {
          margin-right: 0;
        }
  
        &:nth-child(even) {
          margin-left: 0;
        }
      } 
    }
}

.project__icon {
  height: 80px;
  width: 80px;
  flex-shrink: 0;
  margin-right: 4%;
  background-color: $yellow;
  @include shadow;
  border-radius: 50%;
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center center;
}

.highlight {
  font-size: 1.5rem;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  padding: 15px;
  border-top: $yellow 6px solid;
  border-bottom: $yellow 6px solid;

  @include tablet-portrait {
    width: 100%;
  }
}

.team__slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.slider__arrow {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  max-width: 50px;
  @include shadow;

  &#slider-left {
    left: -60px;

    @include phone {
      left: -15px;
    }
  }

  &#slider-right {
    right: -60px;

    @include phone {
      right: -15px;
    }
  }

  img {
    width: 100%;
  }
}

.team__items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @include phone {
    justify-content: center;
  }
}

.team__item {
  width: 25%;

  @include tablet-landscape {
    width: 33%;
  }

  @include tablet-portrait {
    width: 50%;
  }

  @include phone {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .team__portrait {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .team__name {
    // @include Raleway;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  .team__info {
    font-weight: 400;
    text-align: center;
    margin: 0;
  }
}

.sponsors__items-wrapper, .partners__items-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .sponsors__item, .partners__item {
    margin: 0 3% 6%;
  }

  .sponsors__logo, .partners__logo {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#sponsors, #partners {
  margin-bottom: -3%;
  padding-bottom: 0;
}

.social {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include phone {
      justify-content: center;
    }

    .title2 {
      margin-left: auto;
      margin-right: 10px;
      
      @include phone {
        margin-right: auto;
      }
    }

    .social__item {
      margin-left: 10px;
      margin-right: 10px;
      width: 60px;

      &:last-child {
        margin-right: auto;

        @include phone {
          margin-right: 10px;
        }
      }

      img {
        width: 100%;
        transition: 500ms;

        &:hover {
          transform: scale(1.2);
          transition: 500ms;
        }
      }
    }

    @include tablet-portrait {
      flex-wrap: wrap;
    }
  }
}

.button {
  background-color: white;
  border: $yellow 6px solid;
  @include shadow;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;

  &#scroll-to-top {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    margin-bottom: 40px;
    background-size: 50%;
    background-image: url(./img/top.svg);
    transition: 0.5s;

    &:hover {
      transform: translate(0px, -10px);
      transition: 0.5s;
    }
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: lighten($yellow, 18%);
  text-align: center;
  color: rgba(0, 0, 0, 0.25);

  a {
    color: inherit;
  }
}

.yellow-bg {
  background-image: url(./img/yellow-bg.png);
  background-repeat: no-repeat;
  background-position: right -415px bottom 16%;
  // background-size: contain;
}

.timer-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.timer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .timer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  .timer__num {
    font-size: 3rem;
    font-weight: 600;
  }
}

